<html>
<head>{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href= "{%static '/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href= "{%static '/css/bootstrap-grid.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">

</head>
<body>


	
	<div class="container texts">
		<div class="row">
			{% for card in cardlist %}
				<div class="col-sm">
					<div class="card">
						<img class="card-img-top" src="http://kclr96fm.com/media/2017/08/autism.jpg" alt='au-pic'>
						<div class="card-body">
							<h4 class="card-title">{{card.card_title}}</h4>
							<p class="card-text">{{card.card_content}}</p>
	    					<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
			{% endfor %}
		
		</div>
	</div>
			
<body>
<html>